<ul>
  <!-- <li *ngFor="let item of productList">
    {{ item.name }} is
    {{ item.price | currency : "THB " : "symbol" : "1.2-2" }} years old.
  </li>
  <p>เลขที่ตรวจสอบ: {{ numbertoCheck }}</p>
  <p>
    ผลลัพธ์:
    {{ isOdd(numbertoCheck) ? "เลขคี่ (false)" : "เลขคู่ (true)" }}
  </p> -->
  <!-- <p>{{ workToCheck }}</p>

  <button type="button" (click)="upperCase()" class="btn btn-success">
    Success
  </button> -->
  <!-- <p>{{ number }}</p>
  <button type="button" class="btn btn-success" (click)="SquareNumber()">
    ค่ากำลังสอง
  </button> -->
  <!-- <p>{{ Concatenate_Two_String() }}</p> -->
  <!-- <p>{{ Get_First_Charater() }}</p> -->
  <!-- <p>{{ Multiply_Two_Number() }}</p> -->
  <!-- <p>{{ Length_of_String() }}</p> -->
  <!-- <p>
    {{
      Check_OF_String(ContainsToCheck) ? "ถ้ามี a (true)" : "ถ้าไม่มี (false)"
    }}
  </p> -->
  <!-- <p>{{ Reverse_Words_in_Sentence() }}</p> -->
  <!-- <p>{{ Find_Longest_Word() }}</p> -->
</ul>
