<div
  class="d-flex justify-content-center align-items-center bg-black text-light"
  style="height: 100px"
>
  <h2 class="text-center">
    MY
    <fa-icon [icon]="faCross" style="color: rgb(162, 72, 247)"></fa-icon>
    PROJECT
  </h2>
</div>
<div class="d-flex justify-content-center align-items-center mt-5">
  <button
    type="button"
    class="btn text-light fw-bold ms-4"
    style="background-color: rgb(143, 53, 45)"
    [routerLink]="['/bloodGroupForm']"
  >
    PJGROUP
  </button>
  <button
    type="button"
    class="btn text-light fw-bold ms-2"
    style="background-color: rgb(76, 78, 76)"
    [routerLink]="['']"
  >
    Home
  </button>
  <button
    type="button"
    class="btn text-light fw-bold ms-4"
    style="background-color: rgb(143, 53, 45)"
    [routerLink]="['/TREE']"
  >
    TREE
  </button>
</div>
