<div class="container">
  <form [formGroup]="bloodGroupForm">
    <div class="row text-center p-3">
      <h2 class="fw-bold bg-black text-light">Blood Group Calculator</h2>
      <div class="col-6">
        <div class="fw-bold w-100" style="width: 120px">
          <label for="fatherABO" class="w-100 border border-black border-3 fs-5"
            >father's ABO Group</label
          >
        </div>
        <div class="d-flex flex-row-reverse mt-2 mb-4">
          <select
            formControlName="fatherABO"
            id="fatherABO"
            class="ms-2"
            style="width: 95px"
          >
            <option *ngFor="let opt1 of options" [value]="opt1.phenotype">
              {{ opt1.phenotype }}
            </option>
          </select>
          @if (bloodGroupForm.get('fatherABO')?.invalid &&
          bloodGroupForm.get('fatherABO')?.touched) {
          <div class="text-danger">Please input value</div>
          }
        </div>
        <div class="fw-bold w-100" style="width: 120px">
          <label
            for="motherABO"
            class="w-100 border border border-black border border-3 fs-5"
            >Mother's ABO Group</label
          >
        </div>
        <div class="d-flex flex-row-reverse mt-2 w-100" style="width: 120px">
          <select
            formControlName="motherABO"
            id="motherABO"
            style="width: 95px"
          >
            <option *ngFor="let opt of options" [value]="opt.phenotype">
              {{ opt.phenotype }}
            </option>
          </select>
          @if(bloodGroupForm.get('motherABO')?.invalid &&
          bloodGroupForm.get('motherABO')?.touched){
          <div class="text-danger">Please input value</div>
          }
        </div>
      </div>
      <div class="col-6">
        <div class="fw-bold w-100" style="width: 120px">
          <label
            for="fatherRh"
            class="w-100 border border border-black border border-3 fs-5"
          >
            Father's Rh Factor</label
          >
        </div>
        <div class="d-flex flex-row mt-2 mb-4">
          <select formControlName="fatherRh" id="fatherRh" style="width: 95px">
            <option *ngFor="let opt2 of Rh" [value]="opt2.name2">
              {{ opt2.name2 }}
            </option>
          </select>
          @if (bloodGroupForm.get('fatherRh')?.invalid &&
          bloodGroupForm.get('fatherRh')?.touched) {
          <div class="text-danger">Please input value</div>
          }
        </div>
        <div class="fw-bold w-100" style="width: 120px">
          <label
            for="motherRh"
            class="w-100 border border border-black border border-3 fs-5"
            >mother's Rh Factor</label
          >
        </div>
        <div class="d-flex flex-row mt-2">
          <select formControlName="motherRh" id="motherRh" style="width: 95px">
            <option *ngFor="let opt3 of Rh" [value]="opt3.name2">
              {{ opt3.name2 }}
            </option>
          </select>
          @if (bloodGroupForm.get('motherRh')?.invalid &&
          bloodGroupForm.get('motherRh')?.touched) {
          <div class="text-danger">Please input value</div>
          }
        </div>
      </div>
    </div>
    <div class="text-center">
      <button
        class="btn text-light fw-bold"
        type="submit"
        (click)="SubmitVersionB()"
        style="width: 120px"
        style="background-color: black"
      >
        submit
      </button>
      <button
        class="btn text-light ms-2 fw-bold"
        type="submit"
        (click)="resetFrom()"
        style="width: 120px"
        style="background-color: black"
      >
        resetFrom
      </button>
    </div>
  </form>
  <div
    *ngIf="exampleGeno"
    class="tree-container border p-3 rounded bg-light mt-3"
  >
    <h4 class="text-center">Blood Group Tree</h4>

    <div class="tree-parents d-flex justify-content-center mb-3">
      <div class="parent-box me-3">
        <strong>Father:</strong> {{ exampleGeno.fatherABO }}
        {{ exampleGeno.fatherRh }}
      </div>
      <div class="parent-box ms-3">
        <strong>Mother:</strong> {{ exampleGeno.motherABO }}
        {{ exampleGeno.motherRh }}
      </div>
    </div>

    <div class="tree-children d-flex justify-content-center flex-wrap">
      <div *ngFor="let node of childTree" class="child-box">
        <strong>{{ node.child }}</strong>
        <div class="text-muted small">
          (Father: {{ node.fromFather }}, Mother: {{ node.fromMother }})<br />
          Major: {{ node.majorFrom }}
        </div>
      </div>
    </div>
  </div>
</div>
